body{
    margin:0;
    padding:0;
}

footer{
    position:fixed;
    bottom:0;
    height:40px;
    background:#f8f9fa;
    width:100%;
}

footer > .night{
    position:absolute;
    right:0;
    top:10px;
}